<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>private.tiddler-tracker</string>
		<key>Program</key>
		<string>/PATH/TO//tiddler-git-push.sh</string>
                <key>StartCalendarInterval</key>
                     <dict>
                          <key>Hour</key>
                          <integer>12</integer>
                          <key>Minute</key>
                          <integer>30</integer>
                     </dict>
                <key>StandardOutPath</key>
                <string>/tmp/tidder-auto-commit-errors.stdout</string>
                <key>StandardErrorPath</key>
                <string>/tmp/tidder-auto-commit-errors.stderr</string>
                <key>WorkingDirectory</key>
                <string>/PATH/TO/DIR/CONTAINING/tid/FILES/</string>
	</dict>
</plist>
